/* color codes

bg - gray : #f4f4f4
left panel: #fff
logo: #0e6ac7



*/
:root{
    --background-color: hsl(0, 0%, 95%);
    --primary-color: #3498db;
    --primary-color-alt: #797EF6;
    --secondary-color: #2babeb;
    --font-color: #414141;
    --white: hsl(0, 0%, 99%);
    --green: #2dd403;
    --okay: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    --warning: linear-gradient(0deg, rgba(204,223,46,1) 0%, rgba(255,244,73,1) 100%);
    --danger: linear-gradient(to left, #f5af19, #f12711);

    --medium-gap: 2.5rem;
    --small-gap: 2rem;
    --smaller-gap: 1.5rem;
    color: #36d80e
}

body{
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}
.root{
    display: flex;
}
.left_section, .right_section{
    height: auto;
    min-height: 100vh;
}

/* =================== reused ==============*/
.okay{
    background: var(--okay);
}
.warning{
    background: var(--warning);
}
.danger{
   background: var(--danger);
}
.hidden{
    display: none;
}

/*--================ left section ===========--*/
.left_section{
    position: fixed;
    width: 15rem;
    background-color: var(--white);
    margin: 0;
    margin-right: 2rem;
    box-shadow: 2px 0 10px -5px;
}
.left_holder{
    width: 15rem;
    margin-right: 2rem;
}
.left_section-logo{
    display: flex;
    justify-content: center;
}
.logo_img{
    width:60%;
    margin-top: var(--medium-gap);
    margin-bottom: var(--small-gap);
}
.nav_menulist{
    list-style-type: none; 
    padding-left: var(--small-gap);  
}
.nav_menu{
    margin: 1rem 0 0 0;
}
.nav_link{
    font-size: 1rem;
    text-decoration: none;
    color: #5e5e5e;  
}
.menu-icon{
    margin-right:0.25rem;
}
.nav_link:hover{
    font-size: 1.25rem;
    color: var(--secondary-color);
    transition: linear 0.3s;
}
.nav_link:active{
    font-size: 1.25rem;
    color: var(--primary-color);
    transition: linear 0.3s;
}

/*--================ right section ===========--*/
.right_section{
    width: 75%;
    margin: 0 2rem 0 0;
}

/*++++++++++++++++++++++ top bar ++++++++++++++++*/
.right_topbar{
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    margin: var(--smaller-gap) 1rem;
    background-color: var(--white);
    border-radius: 0.75rem;
}
.salutation{
    font-size: 1.25rem;
    margin: 0;
}
.expense_status{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 2rem;
}
.user{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
}
.user_img{
    width: 100%;
    border: 1px solid var(--secondary-color);
    opacity: 0.9;
    border-radius: 50%;
}
.space{
    flex: 3 0 auto;
}

/*+++++++++++++++++++++ dashboard cards ++++++++++++++++*/
.cards_container{
    display: flex;
    
}
.card{
    position: relative;
    background-color: var(--white);
    width: 25rem;
    height: 12rem;
    margin: 1rem;
    flex: auto;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 20px -8px;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    
}
.month_highlight{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(44, 44, 44);
    margin-bottom: 0.25rem;
}
.card .amount{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(121, 121, 121);
    margin: 0 0 2rem 0;
}
.card_percentage{
    position: absolute;
    width: 5rem;
    height: 6rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    top: 3rem;
    right: 1rem;
    color: var(--primary-color);
}
.card_percentage-icon{
    font-size: 2rem;
    height: 2rem;
    display: block;
}
.card_percentage hr{
    width: 4rem;
    margin-top: 0;
    margin-bottom: 2px;
    border: 1px solid var(--primary-color);
}
.percentage_month{
    color: var(--primary-color);
    font-weight: 300;
    font-size: 0.9rem;
}
.ball{
    margin-top: 20px;
    right: 10px;
    position:absolute;
    width:20px;
    height:20px;
    border-radius:50%;
}
  .card_percentage .last_month-icon{
    position:absolute;
    font-size: 3.5rem;
    top: 2rem;
    right: 0.5rem;
    color: var(--primary-color)
}
  .piechart{
    position:absolute;
    color: var(--secondary-color);
    top: 5rem;
    right: 1.2rem;
}

/* ========== pie chart ======== */
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
  .pie {
    --p: 0;
    --b: 0.2rem;
    --c: var(--primary-color);
    --w: 80px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:0.8rem;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }

  .pie2 {
    --p: 0;
    --b: 0.2rem;
    --c: #ff3f2a;
    --w: 80px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:0.8rem;
  }
  .pie2:before,
  .pie2:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie2:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie2:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }

  .animate {
    animation:p 1s .5s both;
  }
  @keyframes p {
    from{--p:0}
  }
  
  /*+++++++++++++++++++++ transaction table ++++++++++++++++*/
  .table_container{
    margin-top: 2rem;
    margin-bottom: 3rem
  }
  .transaction_header{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
  }
  .transaction_table{
    margin: 1rem  1rem;
    border-radius: 0.75rem;
    box-shadow: 0px 1px 10px -5px;
    
  }

/*------------- table -------*/
  table { 
	width: 100%; 
	border-collapse: collapse;
	margin: auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: var(--primary-color); 
	color: white; 
	font-weight: bold;
    
	}
th:first-child{
    border-top-left-radius: 0.75rem; 
}
th:last-child{
    border-top-right-radius: 0.75rem;
}

td, th { 
	padding: 1rem; 
	text-align: left; 
	font-size: 1rem;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}